<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recover Password</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: 'Roboto', sans-serif;
      }

      main {
        text-align: center;
        padding: 20px;
      }

      .container {
        text-align: center;
        background-color: #424242;
        max-width: 840px;
        padding: 30px;
        border-radius: 12px;
      }

      .container-title,
      .container-description {
        text-align: center;
        color: #ffffff;
        text-align: center;
      }

      .container-description {
        margin: 20px 0;
        font-size: 20px;
      }

      .container-code {
        color: #9c27b0;
        text-align: center;
        font-size: 28px;
        width: 100%;
        background-color: #424242;
        border: none;
        outline: none;
        letter-spacing: 4px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .container-div-button {
        margin: 20px auto;
        width: 220px;
        padding: 20px;
        background-color: #9c27b0;
        border-radius: 7px;
        text-align: center;
      }

      .div-button-a {
        text-decoration: none;
        color: #fcfcfc;
        font-size: 18px;
        margin: 0 auto;
      }

      .container-rodape {
        margin-top: 50px;
        color: #ffffff;
        text-align: center;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="container">
        <h1 class="container-title">Oops! Esqueceu sua senha? 😱</h1>
        <p class="container-description">
          Para redefinir sua senha, informe código abaixo na página de recuperação
          de senha.
        </p>

        <input class="container-code" value="{{ code }}" readonly />

        <div class="container-div-button">
          <a
            class="div-button-a"
            href="{{ uri }}"
            target="_blank"
            rel="noopener noreferrer"
            >🚀 Recuperar senha!
          </a>
        </div>
        <p class="container-rodape">Todo© app created by Cristhian Santos.</p>
      </div>
    </main>
  </body>
</html>
